doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    a(href="/signup")
      button Sign up
    a(href="/")
      button Home
  body
    block content
