#NavBar {
    height: 100px;
    width: 100%;
    display: flex;
}

#logo {
    padding: 20px;
}

#logo img {
    max-height: 60px;
}

.NavBarLinks {
    flex: 4;
}

.NavBarAccount {
    flex: 2;
}

.NavBarLogo {
    flex: 4;
}

.NavBarElement {
    display: flex;
    align-items: center;
}

.AccountPhoto {
    height: 40px;
    width: 40px;
}

.AccountPhoto:hover{
    opacity: 0.8;
}